.custom-modalbox {
   
            
    background: linear-gradient(to right,rgb(136, 119, 119) 0%,rgb(77, 209, 51) 100%);
    height: 590px;
    border-radius: 5px;
    border: solid 1px black;
   
    h2{
        text-align: center;
        color: black;   
        font-family: 'Sen', sans-serif;
    }

    .small-container{
        background: linear-gradient(to right,rgb(136, 119, 119) 0%,rgb(77, 209, 51) 100%);
        height: 330px;
        text-align: center;
        
        .desc{
            font-family: 'Sen', sans-serif;
            font-weight: 900;
            font-size: 15px;
            text-align: left;
            margin-left: 20px;
        }

        input{
            width: 580px;
            height: 30px;
            border: none;
            border-radius: 5px;
            // margin-left: auto;
            // margin-right: auto;
            font-family: 'Sen', sans-serif;
            color: black;
            

        }

        .text-area{
width: 580px;
height: 160px;
// margin-top: 10px;
resize: none;
border-radius: 5px;
border: none;
font-family: 'Sen', sans-serif;
color: black;
        }

        .buttons{
            display: block;
            .btn{
                float: right;
                margin: 14px;
                width: 80px;
                    height: 35px;
                    border-radius: 5px;
                    cursor: pointer;
                    background-color: black;
                    color: white;
                    border: none;
            }
            .btn:hover{
                background-color: gray;
            }
        }
    }

}
