.container{

    padding: 0px;
    

    .myheader{
        display: flex;

      
        .title{
            margin-left: 10px;
            width: 250px;
           font-size: 25px;
        }
        .addbtn{
            background-color: brown;
            width: 60px;
            height: 60px;
            align-self: center;
            cursor: pointer;
            color: white;
            background-color: black;
            border-radius: 5px;
            border: none;
            font-size: 28px;
        }
        .addbtn:hover{
            background-color: gray;
            border: solid 1px black;
        }
    }

    .mybody{ 

        .note{
            //display: inline;
            margin: 20px;
            float: left;
            background-color: black;
            width: 460px;
            height: 320px;
            
            .mybuttons{
                 
                .removebtn{

                }
                .openbtn{

                }
            }

            .mytext{
                width: 400px;
                height: 260px;
                background-color: white;
                word-wrap: break-word;
                // margin-left: auto;
                // margin-right: auto;
                white-space: pre-line;
                margin: auto;
                margin: auto;
            }

        }
    }
}