<div class="container">
<div class="myheader">
<p class="title">Message Generator</p>
<button class="addbtn" (click)="addNewTextBox()">+</button>

</div>


<div class="mybody">
  <div class="note" *ngFor="let message of messages; let i = index">
    <div class="mybuttons">
      <button class="btn" (click)="copyText(message)">Copy</button>
      <button class="btn" (click)="openDialog(i)">Edit</button>
      <button class="btn" (click)="removeTextBox(i)">Delete</button>
       
    </div>
    <div class="mytext">
      {{message}} 
    </div>
  </div>
</div>

</div>